<h1>Welcome to Rock Papper Scissors!</h1>
<p>To play this game pick a throw:</p>
<ul>
    <li><%= link_to 'Rock', rock_paper_path(0) %></li>
    <li><%= link_to 'Paperz', rock_paper_path(1) %></li>
    <li><%= link_to 'Scissors', rock_paper_path(2) %></li>
</ul>
