<%= render partial: "app_homes/nav" %>

<table class="table">
	<tr>
		<th>Name</th>
		<th>City</th>
	</tr>
	<% @museums.each do |museum| %>
		<tr class="story-row">
			<td>
				<%= link_to museum.name, museum_path(museum) %>
			</td>
			<td>
				<%= museum.city %>
			</td>
		</tr>
	<% end %>
</table>


