<h1>Museums</h1>

<table class="table">
	<tr>
		<th>Name</th>
		<th>City</th>
	</tr>
	<% @museums.each do |museum| %>
		<tr class="story-row">
			<td>
				<%= link_to 'Name', museum_path(museum) %>
			</td>
			<td>
				<%= museum.city %>
			</td>
		</tr>
	<% end %>
</table>

<br>
<%= link_to 'Home', root_path %>

