<div class="all-games-link">
	<%= link_to 'BACK TO ALL GAMES', root_path %>
</div>
<div class="game-center">	
	<div class="game-directions">
		<h1>Word Scramble!</h1>
		<h3>To play this game unscramble the letters below to form a proper word.</h3>
	</div>
	<div class="scramble-word">
		<h2>Unscramble this word:</h2>
		<h1><%= @scrambled_word %></h1>
	</div>
	<div class="scramble-form">
		<form action="#" method="POST">
			<input type="text" name="guess">
			<input type="hidden" name="correct-answer" value="<%= @random_word %>">
			<br>
			<input type="submit" value="Guess!">
		</form>
	</div>

</div>


