// Place all the styles related to the Games controller here.

body {
	text-align: center;
	background-image: image-url("/images/games/CU0Ma3o.png"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color: #648C99;
}

.games img {
	border: 1px solid black;
	margin: 10px;
}

.games a {
	display: inline;
}