<%= render partial: "app_homes/nav" %>


<%= link_to '<button type="button">All Museums</button>'.html_safe, museums_path %>

<%= link_to '<button type="button">All Paintings</button>'.html_safe, paintings_path %>

<%= link_to '<button type="button">All Artists</button>'.html_safe, artists_path %>