<%= render partial: "app_homes/nav" %>


<%= link_to '<button type="button">See All Museums</button>'.html_safe, museums_path %>

<%= link_to '<button type="button">See All Paintings</button>'.html_safe, paintings_path %>

<%= link_to '<button type="button">See All ARtists</button>'.html_safe, artists_path %>